<!DOCTYPE html>
<html>
<head>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>
body{
	background-color: green;
}
</style>
</head>
<body>

<h1 style = "text-align:center">Profile</h1>
<br>


<div style = "display:block;margin-top:60px;margin-left:450px;">
<img src = "http://www.sunshineedu.in/wp-content/uploads/empty-profile.png" style="float:right;margin-right:330px;">
<p style = "padding-top:30px;"><b>Name</b> : Rahul </p>
<p style = "padding-top:20px;"><b>Rank</b> : Manager </p>
</div>
<br>

<div id = "for_manager" style = "display:block;margin-top:60px;margin-left:450px;" >


	<div class="dropdown" style = "float:right;margin-right:550px;">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Promotion
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
  	<li><a href="#">assistant</a></li>
    <li><a href="#">assistant manager</a></li>
    <li><a href="#">developer</a></li>
    <li><a href="#">senior developer</a></li>
    <li><a href="#">Tech lead</a></li>
  </ul>
</div>


<table border="3" cellpadding="55" cellspacing="55">
<tr style = "padding-bottom:5px">
<th>Junior Name</th>
</tr>
<tr>
<td>Amit</td>
</tr>
</table>

</div>

</body>
</html>
<script type="text/javascript"></script>