<!DOCTYPE html>
<html>
<head>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>
body{
	background-color: green;
}
</style>
</head>
<body>

<h1 style = "text-align:center">Profile</h1>
<br>


<div style = "display:block;margin-top:60px;margin-left:450px;">
<img src = "http://www.sunshineedu.in/wp-content/uploads/empty-profile.png" style="float:right;margin-right:330px;">
<p style = "padding-top:30px;"><b>Name</b> : Amit </p>
<p style = "padding-top:20px;"><b>Rank</b> : Junior </p>
</div>
<br>

<div id = "for_senior" style = "display:block;margin-top:60px;margin-left:450px;" >


<table border="3" cellpadding="55" cellspacing="55">
<tr style = "padding-bottom:5px">
<th>Senior Name</th>
<th>Task Id</th>
<th>Rating</th>
<th>Manager</th>
<th>Promotion</th>
</tr>
<tr>
<td>Prashant</td>
<td>5</td>
<td>7</td>
<td>Rahul</td>
<td>Assistant</td>
</tr>
</table>

</div>

</body>
</html>
<script type="text/javascript"></script>