<html>
	<head>
		<meta charset="utf-8">
		<title>Login Page </title>
		<style type="text/css">
			
			body {
				display: flex;
				flex-direction: column;
				margin: 0px;
			}

			h2 {
				margin-top: 15px;
			}

			#brand {
				height: 60px;
				width: 100%;
				-moz-box-shadow: 0 0 30px 5px #999;
				-webkit-box-shadow: 0 0 30px 5px #999;
				background-color: white;
			}

			.inputdiv {
				width: 40%;
				height: 220px;
				margin-left: 30%;
				padding-left: 15px;
				padding-right: 15px;
				margin-top: 180px;
				border-radius: 25px;
				border: 5px solid black;
				border-color: #29A6CF;
				background-color: transparent;
			}

			.formdiv {
				margin-left:140px;
				margin-top: 36px;
			} 
			.submit {
				margin-left:175px;
				margin-top: 12px;
				height:30px;
				width:100px;
			}

		</style>
	</head>
	<body background="/images/login.jpg">
		<div id="brand">
			<h2 style="text-align:center;color:#29A6CF" >Welcome, Please login here.</h2>
		</div>
		<div class="inputdiv">
			<form action="/login" method="post">
			<fieldset>
				<p><input name = "username" type="text" placeholder = "Username" class = "formdiv"></p>
				<p><input name = "password" type="password" placeholder = "Password" class = "formdiv" style = "margin-top:15px"></p>
				<p><input type="submit" value="Login" class = "btn btn-primary submit"></p>
			</fieldset>
			</form>
			<%if(typeof(data) !== 'undefined') { %>
				<div id = "show-message-here" style = "color:red;text-align:center" > <p> Username or password is incorrect </p> </div>
			<% } %>
		</div> <!-- end login -->
	</body>
</html>